*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 12px;
}

body {
	margin: 0;
	--text-color: #643434;
	--bg-color: #dddcdc;
	--color-link: #333;
	--color-link-hover: #656161;
	--padding-ver: 5vw;
	--padding-hor: 1rem;
	color: var(--text-color);
	background-color: var(--bg-color);
	font-family: acumin-pro, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	--cursor-stroke: var(--text-color);
}

/* Page Loader CSS */
.preloader .loading::before,
.preloader .loading::after {
	content: '';
	position: fixed;
	z-index: 1000;
}

.preloader .loading::before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--bg-color);
}

.preloader .loading::after {
	top: 50%;
	left: 50%;
	width: 100px;
	height: 100px;
	margin: -50px 0 0 -50px;
	border-radius: 50%;
	border: 2px solid var(--cursor-stroke);
	animation: loaderAnimation 0.7s linear infinite alternate forwards;
}

/* Keyframe */
@keyframes loaderAnimation {
	to {
		opacity: 1;
		transform: scale3d(0.7,0.7,1.3);
	}
}

/* Global LINKS */

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
	font-size: 16px;
}

a:hover {
	color: var(--color-link-hover);
	outline: none;
}

/* Provide a fallback style for browsers that don't support :focus-visible */
a:focus {
	outline: none;
	background: #d3d3d3;
}

/* Remove the focus indicator on mouse-focus for browsers that do support :focus-visible */
a:focus:not(:focus-visible) {
	background: transparent;
}

/* Draw a very noticeable focus style for keyboard-focus on browsers that do support :focus-visible */
a:focus-visible {
	outline: 2px solid var(--text-color);
	background: transparent;
	padding: 3px;
}

.hover-line,
a.cda-sponsor-link {
	white-space: nowrap;
	overflow: hidden;
	position: relative;
}


.hover-line::before{
	content: '';
	height: 1px;
	width: 100%;
	background: currentColor;
	position: absolute;
	top: calc(100% - 2px);
	transition: transform 0.3s;
	transform-origin: 0% 50%;
}

.hover-line:hover::before{
	transform: scaleX(0);
	transform-origin: 100% 50%;
}

.unbutton {
	background: none;
	border: 0;
	padding: 0;
	margin: 0;
	font: inherit;
	cursor: pointer;
}

.unbutton:focus {
	outline: none;
}

main {
	display: grid;
	height: 100vh;
	padding: 0;
	position: relative;
}

.frame {
	grid-area: 1 / 1 / 2 / 2;
	text-align: center;
	text-transform: uppercase;
	display: flex;
	padding: var(--padding-hor) calc(var(--padding-ver) + 0.6vw);
	flex-direction: column;
	align-self: start;
	position: relative;
	z-index: 100;
}

.frame__title {
	font-size: 1rem;
	margin: 1rem 0;
	font-weight: normal;
}

nav {
	display: inline-block;
}

nav a {
	margin: 0 0.5rem;
}

.intro-sec,
.content-wrap {
	grid-area: 1 / 1 / 2 / 2;
}

.intro-sec {
	flex: 1;
	display: grid;
	max-height: 40vmax;
	margin: auto 0;
	padding: 0 var(--padding-ver);
	grid-template-columns: 28% 1fr 22%;
	grid-template-rows: repeat(4,1fr);
	align-items: center;
	grid-column-gap: 3%;
	grid-row-gap: 2.5vmax;
	font-size: 8.625vw;
	line-height: 0.7;
	letter-spacing: -0.075vw;
	font-family: kudryashev-d-excontrast-sans, sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	white-space: nowrap;
}

.intro-sec--close {
	pointer-events: none;
}

.image {
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: relative;
	display: grid;
	place-items: center;
	cursor: pointer;
	will-change: transform;
}

.image--up {
	grid-area: 2 / 3;
}

.image--down {
	grid-area: 3;
}

.image__inner {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: 50% 50%;
}

.row--1 {
	grid-area: 1 / 1 / 2 / 4;
}

.row--2 {
	grid-area: 2 / 1 / 3 / 4;
}

.row--3 {
	grid-area: 3 / 2 / 4 / 4;
}

.row--4 {
	grid-area: 4 / 1 / 5 / 4;
}

.overflow-hidden {
	position: relative;
	display: inline-block;
	overflow: hidden;
}

.overflow-hidden > span {
	display: inline-block;
	will-change: transform;
}

.row__text span {
	padding-top: 1.5vw;
}

.content-wrap {
	align-self: stretch;
	display: grid;
}

.content {
	opacity: 0;
	pointer-events: none;
	grid-area: 1 / 1 / 2 / 2;
	display: grid;
	grid-template-columns: 100%;
	height: 100%;
	grid-template-rows: 1fr auto;
	padding: 0 var(--padding-ver);
	z-index: 99;
    position: relative;
}

.content--open {
	opacity: 1;
	pointer-events: auto;
}

.content--open .content__row--image {
	pointer-events: none;
}

.content__row--text {
	padding: calc(var(--padding-hor)  + 9rem) 0 2.5rem;
	display: grid;
	grid-template-areas: 'title number' 'description .' 'back back' 'meta meta';
	grid-template-columns: 1fr auto;
	grid-template-rows: auto auto 1fr auto;
}

.content__row--image + .content__row--text {
	padding-bottom: 1.5rem;
}

.content__title {
	grid-area: title;
	font-family: kudryashev-d-excontrast-sans, sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	font-size: clamp(2rem,4vw,4rem);
	line-height: 1;
	margin: 0;
}

.content__title + p {
	grid-area: description;
	font-size: 1.5rem;
}

.content__number {
	grid-area: number;
	place-self: start end;
	font-size: clamp(3rem, 10vw, 10rem);
	line-height: 0.55;
	position: relative;
	display: flex;
	align-items: start;
	justify-content: start;
	align-content: start;
}

.content__number .overflow-hidden > span {
	padding-bottom: 1.75vw;
	padding-left: 6vw;
	position: relative;
	display: block;
}

.content__number .overflow-hidden > span::before {
	content: "";
	width: 1px;
	height: 111%;
	background: currentColor;
	position: absolute;
	bottom: 0;
	left: 0;
	transform: rotate(25deg);
	transform-origin: 100% 100%;
}

.content__back {
	grid-area: back;
	justify-self: start;
	align-self: center;
	overflow: hidden;
}

.content__back svg {
	width: 100px;
	stroke: #000;
	stroke-width: 0.3px;
	transition: transform 0.2s;
	transform-origin: 0% 50%;
	transform: scaleX(0.8);
}

.content__back:hover svg {
	transform: scaleX(1);
}

.content__meta {
	grid-area: meta;
	text-transform: uppercase;
	display: flex;
	justify-content: space-between;
	font-size: clamp(0.75rem, 3vw, 1.5rem);
	line-height: 1;
	margin-top: 25px;
}

.content__meta-text {
	cursor: not-allowed;
}

.content__meta-text--center {
	text-align: center;
}

.cursor {
	display: none;
}

@media screen and (min-width: 53em) {
	.frame {
		flex-direction: row;
	}
	.frame__title {
		margin-top: 0;
	}
	.content__row--text {
		padding: calc(var(--padding-hor) + 4rem) 0 2.5rem;
	}
}

@media (any-pointer:fine) {
	.cursor {
		position: fixed;
		top: 0;
		left: 0;
		display: block;
		pointer-events: none;
		z-index: 10000;
	}

	.cursor__inner {
		fill: none;
		stroke: var(--cursor-stroke);
		stroke-width: 1.4px;
	}

	.no-js .cursor {
		display: none;
	}
}
